{% extends "../templates/page.njk" %}

{% block mainContent %}

<style>
	h2 {
		text-align: center;
		margin-block: 1em 0.5em;
	}

	.form {
		display: grid;
		row-gap: 8px;
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 50px;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f8f8f8;
	}

	.form label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		cursor: pointer;
		width: fit-content;
	}

	.form input[type="text"],
	.form input[type="email"],
	.form input[type="tel"],
	.form textarea {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	.form button[type="submit"] {
		background-color: #4CAF50;
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		margin-top: 8px;
	}

	.form button[disabled] {
		opacity: 0.6;
		pointer-events: none;
	}

	.form button[type="submit"]:hover {
		background-color: #45a049;
	}

	.input {
		display: grid;
	}

	.input._checkbox {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		font-size: 0.8em;
	}

	.input._checkbox label {
		margin: 0;
	}

	.input._success input,
	.input._success textarea {
		border-color: green;
	}

	.input._error input,
	.input._error textarea {
		border-color: red;
	}

	.pristine-error {
		color: red;
	}
</style>

<h2>Форма обратной связи</h2>

<form class="form" data-form="feedback">
	<div class="input-group">
		<div class="input">
			<label for="feedback-form-name">Имя:</label>
			<input
				type="text"
				id="feedback-form-name"
				name="name"
				required
			>
		</div>
	</div>

	<div class="input-group">
		<div class="input">
			<label for="feedback-form-email">Email:</label>
			<input
				type="email"
				id="feedback-form-email"
				name="email"
				placeholder="example@example.com"
				required
			>
		</div>
	</div>

	<div class="input-group">
		<div class="input _tel">
			<label for="feedback-form-phone">Телефон:</label>
			<input
				type="tel"
				id="feedback-form-phone"
				name="phone"
				required
			>
		</div>
	</div>

	<div class="input-group">
		<div class="input">
			<label for="feedback-form-message">Сообщение:</label>
			<textarea
				id="feedback-form-message"
				name="message"
				rows="4"
				required
			></textarea>
		</div>
	</div>

	<div class="input-group">
		<div class="input _checkbox">
				<input id="feedback-form-agreement" type="checkbox" name="agreement" required />
				<label for="feedback-form-agreement">Я согласен с условиями обработки персональных данных</label>
		</div>
	</div>

	<button type="submit">Submit</button>
</form>

{#<h2>Форма регистрации</h2>

 <form class="form" data-form="register">
	<div class="input">
		<label for="register-form-name">Имя:</label>
		<input
			id="register-form-name"
			type="text"
			name="name"
			required
		>
	</div>

	<div class="input">
		<label for="register-form-email">Email:</label>
		<input
			id="register-form-email"
			type="email"
			name="email"
			placeholder="example@example.com"
			required
		>
	</div>

	<div class="input">
		<label for="register-form-password-input">Пароль:</label>
			<input
				type="text"
				name="password"
				id="register-form-password-input"
				required
				pattern="/(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}/g"
			>
	</div>

	<div class="input">
		<label for="register-form-repeat-password">Повторите пароль:</label>
			<input
				type="text"
				name="register-form-repeat-password"
				required
			>
	</div>

	<button type="submit">Submit</button>
</form> #}
{% endblock %}
